<h1>cURLy</h1>
<p>Logged in as: <%=email %></p>
<form action="/logout" method="POST">
  <button type="submit" value="Logout" class="btn btn-link btn-lg">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
  </button>
</form>