<nav id="nav-bar">
  <div class="container-fluid">
    <div class="nav-left">
      <span class="header">cURLY</span>
    </div>
    <div class="logout-btn">
      <form action="/logout" method="POST">
        <button type="submit" value="Logout" class="btn">
          Logout
        </button>
      </form>
    </div>
</nav>