<h1>cURLy</h1>
<form action="/login" method="POST">
  <input id="email" type="email" name="email" placeholder="Enter email">
  <input id="password" type="password" name="password" placeholder="Enter password">
  <input type="submit" value="Submit">
</form>