<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <header><% include ./partials/_header %></header>
  <table>
    <tr>
      <th>Full URL</th>
      <th>Short URL</th>
      <th>Delete</th>
    </tr>
    <tr>
    <% for (var key in urls) { %>
      <td><%= urls[key].longURL %></td>
      <td><%= key %></td>
      <td>
        <a>Delete</a>
    </tr>
    <% } %>
  </table>
</body>
</html>