<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <div class="container">
      <div class="jumbotron">
        <h1>Sh<i class="fa fa-search" aria-hidden="true"></i>rten your URLs</h1>
        <form action="/urls" method="POST" style="margin:150px;">
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>